### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [385]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

#school_data_complete
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [386]:
#Calculate the total number of schools
school_count = school_data_df["School ID"].count()

#Calculate the total number of students
student_count = student_data_df["Student ID"].count()

#Calculate the total budget
budget = school_data_df["budget"].sum()

#Calculate the average math score
math_avg = round(student_data_df["math_score"].mean(),6)

#Calculate the average reading score
reading_avg = round(student_data_df["reading_score"].mean(),5)

#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = student_data_df.loc[student_data_df["math_score"] >= 70, "math_score"].count() # No. of students with pass score
math_percentage =round(math_pass *100 / student_count, 6)   # find the %
             
#Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = student_data_df.loc[student_data_df["reading_score"] >= 70, "reading_score"].count()
reading_percentage =round(reading_pass * 100 /student_count, 6)

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = student_data_df.loc[(student_data_df["math_score"] >= 70) & (student_data_df["reading_score"] >= 70), "math_score"].count()
overall_percentage = round(overall_pass*100/student_count, 6)
overall_percentage


#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting
summary_df = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": f'{student_count:,}', 
                           "Total Budget": f'${budget:,}',
                            "Average Math Score": math_avg,
                            "Average Reading Score": reading_avg,
                            "% Passing Math": math_percentage,
                            "% Passing Reading" : read_percentage,
                            "% Overall Passing" : overall_percentage
                           })
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [391]:
#school_data_complete_df["school_name"].unique
#df = school_data_complete_df.groupby("school_name")
#school_count = school_data_complete_df['School ID'].nunique()
#df = school_data_complete_df.groupby("school_name")
#student_count = df['School ID'].nunique()
#print(school_count)
#student_count = df['Student ID'].nunique()
#count = school_data_complete_df["School ID"].unique().counts()
#print(student_count)
#Calculate the average math score

#g = school_data_df.groupby("school_name")
#print ("hjhgfhgjhfjhg")
#print(g["budget"].sum())
#print ("hjhgfhgjhfjhg")

print(school_data_complete_df)
df = school_data_complete_df.groupby("school_name")
school_data_gp = school_data_df.groupby("school_name")
student_data_gp = student_data_df.groupby("school_name")
student_data_math_gp = student_data_df.groupby(["school_name", "math_score"])

#summary_df = df.sum()
#print(f'format {df["budget"].sum():,.2f}')
print(f'format ${school_data_df["budget"].sum():,}')
#math_pass = student_data_gp.loc[student_data_df["math_score"] >= 70, "math_score"].count() # No. of students with pass score
math_percentage =round(math_pass *100 / student_count, 6)   # find the %

#school_summary1 = pyschool.groupby(['school_name', 'type'])

#ath_pass = student_data_gp.math_score.apply(lambda x: (x>=70).value_counts(normalize=True))*100/df['School ID'].count()
math_pass = round(student_data_gp.math_score.apply(lambda x: (x>=70).value_counts(normalize=True))[0]*100,6)
student_data_gp["math_pass"] = (student_data_gp.math_score.apply(lambda x: (x>=70).value_counts(normalize=True))[0]*100)
#math_pass = school_data_gp["math_score"].apply(lambda x: (x>=70).value_counts(normalize=True))*100/df['School ID'].count()
print( "kfldkflkdfkd")
print( student_data_gp["math_pass"])
print( "kfldkflkdfkd")
#ath1 = math_pass.to_frame().reset_index()
#rint( math1)
#s_pass_math1 = s_pass_math.to_frame().reset_index()
#s_pass_read = school_summary1.reading_score.apply(lambda x: (x>=70).value_counts(normalize=True))*100
#s_pass_read1 = s_pass_read.to_frame().reset_index()
#s_pass_read1

def overall():
    
    math_bool = student_data_gp.math_score.apply(lambda x: (x>=70))
    print("dff")
    print(math_bool)
    #if 6>5:
    #if math_bool:
    print("dff : count")
    count = round(student_data_gp.reading_score.apply(lambda x: (x>=70).value_counts(normalize=True))[0]*100,6)
        
    print(count)
   # if (student_data_gp.math_score.value_counts() >= 70 ):
       # if (student_data_gp.reading_score.value_counts() >= 70):
    school_summary_df["% Overall Passing"] = count
        #return count
    #else:
      #  return 0
    # Add elif statements....

#rint(math_pass )
print(student_data_gp.sum() )
print('The first')

school_summary_df = pd.DataFrame({"School Type": df['type'].unique(),
                                  "Total Students": df['School ID'].count(),
                                  "Total budget": (school_data_gp['budget'].sum()/df['School ID'].count()).map('${:,.2f}'.format),
                                  "Total School Budget": school_data_gp["budget"].sum().map('${:,.2f}'.format), 
                                 # "Total School Budget": f'format ${school_data_gp["budget"].sum():,.2f}',
                                  "Per Student Budget": (school_data_gp['budget'].sum()/df['School ID'].count()).map('${:,.2f}'.format),
                                  "Average Math Score": (student_data_gp['math_score'].sum()/df['School ID'].count()),
                                  "Average Reading Score": (student_data_gp['reading_score'].sum()/df['School ID'].count()),
                                  "% Passing Math": round(student_data_gp.math_score.apply(lambda x: (x>=70).value_counts(normalize=True))[0]*100,6),
                                  "% Passing Reading": round(student_data_gp.reading_score.apply(lambda x: (x>=70).value_counts(normalize=True))[0]*100,6),
                                 # "% Overall Passing": round(student_data_gp["math_score"].apply(lambda x: (x>=70).value_counts(normalize=True))[0]*100,6),
                                 "% Overall Passing": overall()                                  
                                 })
overall()
school_summary_df

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]
format $24,649,428

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type